node_modules/
dist/
__tests__/
.github/
.vscode/
coverage/
.husky/
app/
env/
.dockerignore
.editorconfig
.env
.eslintignore
.eslintrc.json
.gitignore
.lintstagedrc.json
.prettierignore
.prettierrc
jest-integration-config.js
jest-unit-config.js
jest.config.js
README.md
.git*
data/
build/
